/* * Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
 @font-face {
    font-family: 'title';
    src: url(/fonts/asusrog_regular.ttf);
} 

/* * HTML */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* * Body */

.heading {
    text-align: center !important;
    font-family: 'title' !important;
    color: #e0e0e0;
    position: relative;
    bottom: 320px;
    left: 365px;
}

body {
    align-items: center;
    background-color: #000d1a;
    display: flex; 
    justify-content: center;
    height: inherit;
}
/* ? Just in case: font-display: swap; in body */

.calc-button {
    font-family: 'Orbitron';
}

.calculator {
    border: 1px solid white;
    border-radius: 15px;
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
    animation: color-change 25s infinite;
}

.screen  {
    border: 1px solid white;
    background-color: white;
    color: #29a329;
    border-radius: 5px;
    box-shadow: 0 4px 30px;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: left;
    width: 326px;
    font-family: 'Orbitron';
}

/* * Animation */

/* TODO Reminder, This can't be a gamer's Calculator 
 TODO Without RGB, so put this line of
 TODO code into a div and the buttons
 TODO --> animation: color-change 4s infinite; */

@keyframes color-change {
    0% {
        background-color: red;
    }
    10% {
        background-color: orangered;
    }
    20% {
        background-color: orange;
    }
    30% {
        background-color: rgb(255, 209, 3);
    }
    40% {
        background-color: yellow;
    }
    50% {
        background-color: rgb(9, 255, 9);
    }
    60% {
        background-color: rgb(2, 233, 250);
    }
    70% {
        background-color: blue;
    }
    80% {
        background-color: violet;
    }
    90% {
        background-color: purple;
    }
    100% {
        background-color: red;
    }
}