/* * Fonts */

 @font-face {
    font-family: 'title';
    src: url(/fonts/asusrog_regular.ttf);
} 
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* * HTML */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* * Body */

.heading {
    text-align: center !important;
    font-family: 'title' !important;
    color: #e0e0e0;
}

body {
    align-items: center;
    background-color: #000d1a;
    display: flex; 
    justify-content: center;
    height: inherit;
}

.calc-buttons {
    font-family: 'Orbitron';
}

.calculator {
    border: 1px solid white;
    border-radius: 15px;
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen  {
    border: 1px solid white;
    background-color: white;
    color: #29a329;
    border-radius: 5px;
    box-shadow: 0 4px 30px;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: left;
    width: 326px;
}

/* * Animation */

/* TODO Reminder, This can't be a gamer's Calculator 
 TODO Without RGB, so put this line of
 TODO code into a div and the buttons
 TODO --> animation: color-change 4s infinite; */

@keyframes color-change {
    0% {
        background-color: red;
    }
    25% {
        background-color: green;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}

/* ? Just in case: font-display: swap; in body */